{% extends "base.html" %}
{% load static %}
{% block title %}
    Upload Workflow
{% endblock %}

{% block subheader %}
{% endblock %}

{% block content %}
    <br>
        <form id="workflow_form" action="{% url "upload:workflowFile_add" %}"
method="post" enctype="multipart/form-data">
            {% csrf_token %}
             <table cellpadding="10">{{ form.as_table }}</table></br>
            <input type="submit" name="submit_workflow" value="CreateWorkflow" />
        </form>
{% endblock %}
