{% extends "base.html" %}
{% load static %}
{% block title %}
    Upload Workflow
{% endblock %}

{% block subheader %}
{% endblock %}

{% block content %}
    <br>
        <h1>Add a WorkFlow</h1>
        (All fields are compulsory)</br> </br>
        <form id="workflow_form" action="{% url workflowAction %}"
method="post" enctype="multipart/form-data">


            {% csrf_token %}

             <table cellpadding="10">{{ form.as_table }}</table></br>

            <script src='https://www.google.com/recaptcha/api.js'></script>
            <div class="g-recaptcha" data-sitekey="{{RECAPTCHA_PUBLIC_KEY}}"></div><br>

            <input type="submit" name="submit_workflow" value="CreateWorkflow" />
        </form>
{% endblock %}
