{% extends "base.html" %}
{% load static %}
{% block title %}
    Upload Workflow
{% endblock %}

{% block subheader %}
{% endblock %}

    {% block scripts %}
<!-- -->
        <script src="{% static 'js/webcomponents/webcomponents-loader.js' %}"></script>
        <link rel="import" href="{% static 'scipion-workflow.html' %}"><!-- links the web component code -->
<!-- -->
    {% endblock %}

{% block content %}
    <br>
        <h1>Add a WorkFlow</h1>
        (All fields are compulsory)</br> </br>
<div class="pure-g">
    <div class="pure-u-3-5">

        <form id="workflow_form" action="{% url workflowAction %}"
method="post" enctype="multipart/form-data">


            {% csrf_token %}

             <table cellpadding="10">{{ form.as_table }}</table></br>

            <script src='https://www.google.com/recaptcha/api.js'></script>
            <div class="g-recaptcha" data-sitekey="{{RECAPTCHA_PUBLIC_KEY}}"></div><br>

            <input type="submit" name="submit_workflow" value="CreateWorkflow" />
        </form>
    </div>
            <!-- show workflow three -->
    <div class="pure-u-2-5">
        <scipion-workflow
            src='{{json_workflow|safe}}'  height="400px" width="400px">
        </scipion-workflow>
    </div>
</div>
{% endblock %}
