{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <!-- google captcha -->
        <script src='https://www.google.com/recaptcha/api.js'></script>
        <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-117256278-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-117256278-1');
    </script>

        <meta charset="utf-8" />
        <title>{% block title %}Scipion Workflow Repository {% endblock %}</title>
        <link href="{% static "css/base.css" %}" rel="stylesheet">
        <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w" crossorigin="anonymous">
    </head>
    {% block scripts %}
    {% endblock %}
<body>
    <div id="header">
        {% block header %}
        <a href="/" class="logo">Scipion Workflow Repository (Beta version)</a>
        <a href="https://github.com/I2PC/scipionWorkflowRepository/wiki/Scipion-Workflow-Repository-Help-Page" class="help">Help</a>
        {% endblock %}
    </div>
    <div id="subheader">
        {% block subheader %}
         <div class="search">
                <form action="{% url "find:workflow_search"%}" method="post">
                      Search Workflow <input type="text" name="key" maxlength="128">
                    {% csrf_token %}
                    <input type="submit" name="byName" value="by Name">
                    <input type="submit" name="byKeyWord" value="by Key Word">
                </form>
        </div>
        {% endblock %}
    </div>
    <div id="contentTop"> {% block contentTop %}{% endblock %}</div>
    <div id="content">
        {% block content %}
        {% endblock %}
    </div>

    {% block footer %}

        <footer id="footer" class="footerStyle">
            <div class="footerLink">
                 <span class="footerText">
                     © 2018
                     <a href="http://scipion.i2pc.es">
                         Scipion
                     | <a href="https://github.com/I2PC/scipion/wiki/Contact-Us">
                         Contact us
                     </a>
                     | <a href="https://github.com/I2PC/scipionWorkflowRepository/wiki/Scipion-Workflow-Repository-Help-Page">
                         Help
                     </a>
                 </span>
            </div>
        </footer>

    {% endblock %}

</body>
</html>
