{% extends "base.html" %}
{% load static %}
{% block title %}
  {% if workflow %}
    {{ workflow.name }}
  {% else %}
    Workflows
  {% endif %}
{% endblock %}
    {% block scripts %}
<!-- -->
        <script src="{% static 'js/webcomponents/webcomponents-loader.js' %}"></script>
        <link rel="import" href="{% static 'scipion-workflow.html' %}"><!-- links the web component code -->
<!-- -->
    <script>
        function howtoImport() {
            alert("Import this workflow in Scipion using the menu.  In Scipion select project -> import workflow");
        }
    </script>
{% endblock %}
{% block content %}

<div class="pure-g">
    {% if result %}
    <div class="pure-u-2-5">
       <scipion-workflow
            src="{% url 'find:workflow_download_no_count' workflow.id workflow.slug%}"
            height="400px" width="95%">
        </scipion-workflow>
    </div>
    <div class="pure-u-3-5">
        <h1>{{ workflow.name }}</h1>

        <h2>
        {% for category in workflow.category.all %}
            {% if forloop.last %}
                <a href="{{ category.get_absolute_url }}">{{category.name}}</a>
            {% else %}
                <a href="{{ category.get_absolute_url }}">{{category.name}}</a>,
            {% endif %}
        {% endfor %}
        </h2>

        <span style="font-weight:bold"> KeyWords: </span> {{ workflow.keywords }}<p></p>
        <span style="font-weight:bold"> Description: </span> {{ workflow.description }}
        <p></p>
        <form action="{% url 'find:workflow_download' workflow.id workflow.slug %}" method="post">
           {% csrf_token %}
            <div class="g-recaptcha" data-sitekey="{{RECAPTCHA_PUBLIC_KEY}}"></div><br>
           <input type="submit" value="Download" onclick="howtoImport()"> Downloads: {{ workflow.downloads}}, Views: {{ workflow.views }}, version: {{workflow.versionInit}}
        </form>
        {% if deleteOn %}<br>
        <form action="{% url 'find:workflow_delete' workflow.id workflow.slug %}" method="post">
           {% csrf_token %}
           <input type="submit" value="Delete" 
                  onclick="return confirm('Are you sure?')">
        </form>
        {% endif %}

    </div>
    {% else %}
    <div class="pure-u-1">
        <h2>The workflow could not be downloaded.
            <a href="{{ link }}">Go back</a>
        </h2>
    (Error message: {{ error }})
    </div>
    {% endif %}

</div>

{% endblock %}



