{% extends "base.html" %}
{% load static %}

{% block title %}
    {% if category %}{{ category.name }}{% else %}Workflows{% endif %}
{% endblock %}
{% block header %}
 <a href="/" class="logo">Scipion Workflow Repository</a>
{% endblock %}

{% block content %}
<div class="pure-g">

   <div id="sidebar" class="pure-u-1-5">
        <h3>Categories</h3>
        <ul>
            <li {% if not category %}class="selected"{% endif %}>
                <a href="{% url "find:workflow_list" %}">All</a>
            </li>
        {% for c in categories %}
            <li {% if category.slug == c.slug %}class="selected"{% endif %}>
                <a title="{{ c.tooltip}}" href="{{ c.get_absolute_url }}">{{ c.name }}</a>
            </li>
        {% endfor %}

        </ul>
        <h3><a href="{% url 'upload:workflow_add_manually'%}"> Upload workflow </a></h3>
    </div>
    <div id="main" class="workflow-list pure-u-4-5">
    {% if result %}
        <h1>{% if category %}{{ category.name }}{% else %}Workflows{% endif %}</h1>
        workflow_name (# downloads, # views, scipion version)<br />
        {% for workflow in workflows %}
            <div class="item">
                <a href="{{ workflow.get_absolute_url }}">{{ workflow.name }}</a>
                ({{workflow.downloads}}, {{workflow.views}}, {{workflow.versionInit}}):
                {{ workflow.description|truncatechars:255  }}
            </div>
        {% endfor %}

    {% else %}
        <h2> There is no workflow that satifies the search criteria </h2>
        ({{ error }})
    {% endif %}

    </div>
</div> <!-- grid -->
{% endblock %}
